<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql:I1001bytea</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">password</property>
        <property name="show_sql">true</property>
        <mapping resource="e/FileEntity.hbm.xml"/>
    </session-factory>
</hibernate-configuration>