<web-app>
    <servlet>
        <servlet-name>Exception</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Exception</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
</web-app>